.content {
    display: flex;
    padding: 0 .5rem;
    
}

section {
    padding: 0 .2rem;
    
}

.input-value {
    display: inline-block;
    min-width: 55px;
    border-bottom: 2px solid white;
    position:relative;
    
    
   
}

form input {
    display: block;
    margin-bottom: .5rem;
    position: relative;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 10%;
    border: none;
    color:purple;
    
}

p{
    color:#9393b3;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    width:600px;
    position:relative;
    left:340px;
    top:100px;
   
}

body{
    background-color:#f5cdd1;
}

.title{
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
    color: #9393b3;
    position:relative;
    left:340px;
    top:100px;

}

.title:hover{
    color:aliceblue;

}



button{
    color:white;
    background-color:#9393b3;
    border:none;
    border-radius:50%;
    width:50px;
    height:50px;
    transition:0.3s;
}
button:hover{
    background-color:#e2b4b8;

}

form{
    position:relative;
    top:300px;
    left:300px;
}
